{{ 'c_css_featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top_pc }}px);
      padding-bottom: calc({{ section.settings.padding_bottom_pc }}px);
    }

  @media screen and (max-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top_sp }}px;
        padding-bottom: {{ section.settings.padding_bottom_sp }}px;
      }
    }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="c_featured-blog page-width">
    <div class="c_section-head c_featured-blog__head">
      {% render 'c_section-title', title: section.settings.title, sub_title: section.settings.sub_title %}
    </div>

    <div class="c_featured-blog__content">
      <ul class="c_featured-blog__list">
        {% for article in section.settings.blog.articles limit: section.settings.limit %}
          <li class="c_featured-blog__item">
            <a class="c_featured-blog__item-link" href="{{ article.url }}">
              <div class="c_featured-blog__item-image">
                {% if article.image != blank %}
                  <img
                    src="{{ article.image | image_url: width: 540 }}"
                    alt="{{ article.image.alt }}"
                    width="270"
                    height="270"
                  >
                {% endif %}
              </div>

              <div class="c_featured-blog__item-info">
                <h3 class="c_featured-blog__item-title">{{ article.title }}</h3>
                {% if section.settings.date_show %}
                  <span class="c_featured-blog__shop-info">
                    {{ article.published_at | date: '%Y.%m.%d' }}
                  </span>
                {% endif %}

                {% if article.metafields.custom.address != blank %}
                  <div class="c_featured-blog__shop-info">
                    {{ article.metafields.custom.address | newline_to_br }}
                  </div>
                {% endif %}
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if section.settings.limit < section.settings.blog.articles_count %}
        <div class="c_blog__button c_featured-blog__button">
          <a
            class="c_blog__button-link c_featured-blog__button-link"
            href="{{ section.settings.blog.url }}"
          >
            {{ section.settings.button_text }}
            {{ 'c_icon-arrow-featured-blog.svg' | inline_asset_content }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom：Blog",
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "サブタイトル(日本語)",
      "default": "店舗情報"
    },
    {
      "type": "text",
      "id": "title",
      "label": "タイトル(英語)",
      "default": "Shop"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "ブログを選択"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "表示記事数",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "date_show",
      "label": "日付を表示する",
      "default": false
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "ボタンテキスト",
      "default": "全ての記事を見る"
    },
    {
      "type": "header",
      "content": "デスクトップ"
    },
    {
      "type": "range",
      "id": "padding_top_pc",
      "label": "上部の余白(PC)",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "padding_bottom_pc",
      "label": "下部の余白(PC)",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 96
    },
    {
      "type": "header",
      "content": "モバイル"
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "label": "上部の余白(SP)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "label": "下部の余白(SP )",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 64
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Custom:Blog"
    }
  ]
}
{% endschema %}
